.splash {
    background-image: url('../img/login_splash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-align {
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
}

.row-margin {
    margin-top: 5em;
}